
.intro {
   max-height: 100vh;
    /* background-image: url("../../../public/img/bg13.jpg"); */
    /* background-position: center; */
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

overflow: hidden;
}

.introductioncon {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.introduction {
font-size: 20px;
    width: 80%;
}


.introimg{
 width: 100%;
 height: 100%;
 object-fit: cover;
 max-height: 100vh;
 min-width: 100vw;

}

.intro_tagline {
    /* position: absolute; */
    /* display: flex; */
    /* flex-direction: column; */
/* align-items: center; */
/* justify-content: center; */
z-index: 2;
/* color: white; */
/* background-color: rgba(0, 0, 0, 0.4); */
padding: 10px;
border-radius: 10px;
text-align: center;
font-family: 'Rokkitt', serif;
/* font-family: 'Satisfy', cursive; */
}

.intro_tagline h1 {
    font-size: 3.5rem;
}

.intro_tagline h3 {
    font-size: 2.5rem;
}


